:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --bg-alt: #f4f3ec;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-text: #fff;
  --bubble-assistant-bg: #f4f3ec;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --bg-alt: #1f2028;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-text: #16171d;
    --bubble-assistant-bg: #1f2028;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}
